<div class="container">
  <!-- sekcja wyszukiwarki -->
  <div class="row">
    <div class="pull-right">
      <div class="search-field">
        <label for="search">Wyszukaj:</label>
        <input type="text" name="search" ng-model="books.searchPhrase" ng-model-options="{ debounce: 500 }" ng-change="books.searchPhraseChanged()">
      </div>
    </div>
  </div>
  <!-- wyświetlenie skrótów książek -->
  <div class="row">
    <div class="books">
      <div class="book col-sm-2" ng-repeat="book in books.currentItems">
        <book-teaser
          book="book"
          favourites="books.favouriteBooks"
        ></book-teaser>
      </div>
    </div>
  </div>
  <!-- paginacja -->
  <div class="row">
    <div class="pagination-container">
      <ul
        uib-pagination
        total-items="books.books.length"
        ng-model="books.currentPage"
        items-per-page="books.itemsPerPage"
        max-size="books.showPageNumber"
        boundary-links="true"
        rotate="false"
        class="pagination-sm"
        first-text="Pierwsza"
        last-text="Ostatnia"
        next-text="Następna"
        previous-text="Poprzednia"
        ng-change="books.pageChanged()"
      >
    </div>
  </div>
</div>
