<div class="container">
  <!-- Wyświetlenie informacji o książce -->
  <div class="row">
    <div class="col-sm-12">
      <book-info info="book.book"></book-info>
    </div>
    <div class="col-sm-12" ng-if="book.audioFile">
      <h3>Odsłuchaj książkę</h3>
      <div ng-if="book.audioFile.paused">
        <span ng-click="book.playMusic()" class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </div>
      <div ng-if="!book.audioFile.paused">
        <span ng-click="book.stopMusic()" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{book.audioFile.progress * 100}}"
        aria-valuemin="0" aria-valuemax="100" style="width: {{book.audioFile.progress * 100}}%"></div>
      </div>
    </div>
  </div>
</div>
