<div class="container">
  <h1><center>Witamy na stronie aplikacji Wirtualna Czytelnia</center></h1><BR><P>
  <h4><center>Aplikacja została stworzona na potrzeby zajęć z przedmiotu Programowanie Aplikacji Webowych SPA<BR>
  na Uniwersytecie Ekonomicznym w Krakowie w roku akademickim 2016/2017</center></h4><br><p>
  
  <h5><b>Aplikacja umożliwia:</h5></b><p>
  <ul>
<li style="color: red"><span style="color: black">wyszukiwanie książek po tytule lub autorze</span></li>
<li style="color: red"><span style="color: black">przeczytanie wybranej książki online</span></li>
<li style="color: red"><span style="color: black">odsłuchanie książki w postaci audiobook (dla wybranych tutułów)</span></li>
<li style="color: red"><span style="color: black">dodawanie książek do kategorii "ulubione"</span></li>
<li style="color: red"><span style="color: black">podgląd ulubionych książek</span></li>
</ul><p><br>

<center><b>Twórcy aplikacji:</b><p><br>
   
<i>Dominika Zduniewicz</i><p><br>
<i>Adrian Szypuła<i></center>


</div>
